doctype html
html(lang="en")
  head
    title Events - PulsePals
    style
      include ./assets/events.css
  body
    nav
      .container
        h2 Pulsepals
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/events") Events
          li
            a(href="/users") Find a Partner
          li
            a(href="/report") Safety and reports
        .right
          if user
            a(href="/profile")= user.username
            a(href="/logout", class="btn btn-primary") Logout
          else
            a(href="/login") Sign in
            a(href="/signup", class="btn btn-primary") Register

    main
      .events-filter
        form(method="get", action="/events")
          select(name="difficulty")
            option(value="") All Levels
            option(value="Beginner", selected=difficultyFilter === 'Beginner') Beginner
            option(value="Intermediate", selected=difficultyFilter === 'Intermediate') Intermediate
            option(value="Advanced", selected=difficultyFilter === 'Advanced') Advanced
          button(type="submit") Filter Events

      .events-container
        if events.length > 0
          each event in events
            .event-card
              .event-date
                span.month #{new Date(event.date).toLocaleString('default', { month: 'short' })}
                span.day #{new Date(event.date).getDate()}
              .event-info
                h3 #{event.name}
                p.location
                  i.fas.fa-map-marker-alt
                  | #{event.location}
                p.time
                  i.fas.fa-clock
                  | #{event.start_time} - #{event.end_time}
                p.difficulty(class=event.difficulty_level.toLowerCase())
                  | #{event.difficulty_level}
                if event.pace_group_casual || event.pace_group_competitive
                  p.pace-groups
                    i.fas.fa-running
                    if event.pace_group_casual
                      span Casual: #{event.pace_group_casual}
                    if event.pace_group_competitive
                      span Competitive: #{event.pace_group_competitive}
                p.description #{event.description}
                if user
                  if event.registered
                    button.registered-btn Already Registered
                  else
                    form(action="/register-event", method="POST")
                      input(type="hidden", name="event_id", value=event.id)
                      button(type="submit", class="register-btn") Register Now
                else
                  a(href="/login", class="register-btn") Login to Register
        else
          p.no-events No events found matching your criteria.

    footer
      .container
        div
          h3 PulsePals
          ul
            li
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/events") Events
            li
              a(href="/users") Find a Partner
            li
              a(href="/report") Safety and Reports
        div
          h3 Contact Us
          .contact-info
            p Email: info@pulsepals.com
            p Phone: +1 (123) 456-7890
            p Address: 123 Fitness St, Health City, HC 12345
        div
          h3 Follow Us
          ul
            li
              a(href="#") Facebook
            li
              a(href="#") Twitter
            li
              a(href="#") Instagram
            li
              a(href="#") Github
        div
          h3 Legal
          ul
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms of Service
            li
              a(href="#") Cookie Policy