doctype html
html(lang="en")
  head
    title #{user.firstName}'s Profile - PulsePals
    style
      include ./assets/profile.css
  body
    nav
      .container
        h2 Pulsepals
        ul
          li
            a(href="/" style="text-decoration: none;") Home
          li
            a(href="/about" style="text-decoration: none;") About
          li
            a(href="/events" style="text-decoration: none;") Events
          li
            a(href="/users" style="text-decoration: none;") Find a Partner
          li
            a(href="/report" style="text-decoration: none;") Safety and reports
        .right
          a(href="/profile" style="text-decoration: none;" ) My Profile
          a(href="/logout" style="text-decoration: none;," class="btn btn-primary") Logout

    .profile-container
      .profile-header
        .avatar
          if user.avatar
            img(src=user.avatar, alt="Profile Picture")
          else
            img(src="/images/default-avatar.jpg", alt="Profile Picture")
        .profile-info
          h1 #{user.firstName} #{user.lastName}
          p @#{user.username}
          p #{user.bio || 'No bio yet'}
          .profile-stats
            .stat
              h3 #{user.activitiesCount || 0}
              p Activities
            .stat
              h3 #{friends.length}
              p Friends

      .profile-content
        .profile-sidebar
          .profile-details
            h2 About
            .detail-item
              h4 Email
              p #{user.email}
            .detail-item
              h4 Fitness Level
              p #{user.fitnessLevel ? user.fitnessLevel.charAt(0).toUpperCase() + user.fitnessLevel.slice(1) : 'Not specified'}
            .detail-item
              h4 Interests
              p #{user.interests || 'None specified'}
            .detail-item
              h5 Member Since
              p #{new Date(user.createdAt).toLocaleDateString()}

          .profile-friends
            h2 Friends (#{friends.length})
            if friends.length > 0
              .friends-list
                each friend in friends
                  .friend-item
                    a(href=`/profile/${friend.id}`)
                      img(src=friend.avatar, alt=friend.firstName)
                      span #{friend.firstName} #{friend.lastName}
            else
              p.no-friends You haven't added any friends yet.

          .profile-actions
            h2 Update Profile
            form(action="/upload-avatar", method="POST", enctype="multipart/form-data")
              .form-group
                label(for="avatar") Profile Picture:
                input(type="file", name="avatar", id="avatar", accept="image/*")
              button(type="submit", class="btn btn-primary") Update Picture

        .profile-main
          .section
            h2 Recent Activities
            if activities && activities.length > 0
              each activity in activities
                .activity-item
                  .activity-icon
                    i(class=activity.icon)
                  .activity-info
                    h3 #{activity.title}
                    p #{activity.description}
                  .activity-date #{new Date(activity.date).toLocaleDateString()}
            else
              p.no-activities No recent activities. Get moving!

          .section
            h2 Your Registered Events
            if events && events.length > 0
              .events-list
                each event in events
                  .event-card
                    .event-header
                      h3= event.name
                      .event-date
                        i.fas.fa-calendar-alt
                        span= event.formattedDate
                        if event.daysUntil > 0
                          span.days-away (#{event.daysUntil} days away)
                        else
                          span.today (Today!)
                    .event-details
                      p
                        i.fas.fa-map-marker-alt
                        span= event.location
                      p
                        i.fas.fa-clock
                        span #{event.start_time} - #{event.end_time}
                      p
                        i.fas.fa-tachometer-alt
                        span Difficulty: #{event.difficulty_level}
                      if event.pace_group_casual || event.pace_group_competitive
                        p
                          i.fas.fa-running
                          span Pace Groups: 
                          if event.pace_group_casual
                            span Casual: #{event.pace_group_casual}
                          if event.pace_group_competitive
                            span Competitive: #{event.pace_group_competitive}
            else
              p.no-events You haven't registered for any events yet.
              a.btn.btn-primary(href="/events") Browse Events

    footer
      .container
        div
          h3 PulsePals
          ul
            li
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/events") Events
            li
              a(href="/users") Find a Partner
            li
              a(href="/report") Safety and Reports
        div
          h3 Contact Us
          .contact-info
            p Email: info@pulsepals.com
            p Phone: +1 (123) 456-7890
            p Address: 123 Fitness St, Health City, HC 12345
        div
          h3 Follow Us
          ul
            li
              a(href="#") Facebook
            li
              a(href="#") Twitter
            li
              a(href="#") Instagram
            li
              a(href="#") Github
        div
          h3 Legal
          ul
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms of Service
            li
              a(href="#") Cookie Policy

    script.
      // Simple confirmation for avatar upload
      document.querySelector('form[action="/upload-avatar"]').addEventListener('submit', function(e) {
        if (!confirm('Are you sure you want to update your profile picture?')) {
          e.preventDefault();
        }
      });